<app-detail-hero [color]="carro.color" [Model]="carro.Model"></app-detail-hero>
<main>
    <div class="container">
        <div class="row p-5 m-0">
            <div class="col-12 col-md-4">
                <app-detail-item [Carro]="carro"></app-detail-item>
            </div>
            <div class="col-12 col-md-8 sombra mt-5 mt-md-0">
                <img [src]="carro.Photo" src="assets/img/carro.jpg" class="d-block w-100 " alt="...">
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>